.barsStyle-enter {
  opacity: 0;
}
.barsStyle-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.barsStyle-exit {
  opacity: 1;
}
.barsStyle-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}